/*Colors
main: #00A7DA
MainText: #455A64, #00153D
SecondText:#64748B
border: #E2E8F0
jaune : #E4C81D
backgr-Blue:#E3F2FD
*/

/*import Police font*/
@font-face {
  font-family: poppinRegular;
  src: url('../styles/font/Poppins-Regular.ttf');
}

@font-face {
  font-family: poppinMedium;
  src: url('../styles/font/Poppins-Medium.ttf');
}

@font-face {
  font-family: poppinBold;
  src: url('../styles/font/Poppins-Bold.ttf');
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #fafafa;
}

body {
  font-family: poppinRegular;
}

a {
  text-decoration: none;
}

.border {
  border: solid black 1px;
}

/*import */
@import '@/styles/Home/index.css';
@import '@/styles/Log_Reg/index.css';
@import '@/styles/Components/Loading.css';
@import '@/styles/Components/InputField.css';
@import '@/styles/Components/AllComponents.css';
